[submodule "master/plugin.program.ragnarok"]
	path = master/plugin.program.ragnarok
	url = https://github.com/RagnarLothbrok-Odin/plugin.program.ragnarok
[submodule "master"]
	path = master
	url = https://github.com/AxPhantom/plugin.program.wukong.git
